<configuration>
    <!-- Console Appender per visualizzare i log nella console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>LOG - [Correlation ID: %X{X-Correlation-ID}] %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Imposta il livello di logging per tutte le classi -->
    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Imposta il livello di logging per specifici pacchetti -->
    <logger name="org.springframework" level="info"/>
</configuration>
